@model IEnumerable<JobOffersMVC.ViewModels.UserApplications.UserApplicationDetailsVM>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Applicant Name</th>
            <th>Job Offer Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.ID</td>
            <td>@item.ApplicantName</td>
            <td>@item.JobOfferName</td>
            <td>@item.Status</td>
            @if (item.CanEdit)
            {
        <td>
            @if (item.CanAccept)
            {
                @Html.ActionLink("Accept", "Accept", "UserApplications", new { applicationId = item.ID })
            }
            |
            @Html.ActionLink("Reject", "Reject", "UserApplications", new { applicationId = item.ID }) |
            @Html.ActionLink("Delete", "Delete", "UserApplications", new { applicationId = item.ID })
        </td>
            }
        </tr>
}
    </tbody>
</table>
